
/* BS Resets*/
.navbar-default {
	border: none;
	border-radius: 0;
	border-bottom: 5px solid #003aa6;
	margin-bottom: 0;
}

/* Custom*/
.content {
	position: absolute;
	top: 50px;
	width: 100%;
	height: calc( 100% - 90px );
}
.content .row:first-child {
	height: 100%;
}
.content .form-group {
	margin-bottom: 50px;
}
.content .form-group label {
	color: #003AA1;
}
.left-section {
	padding: 0 40px 0 100px;
	height: 100%;
}
.left-section h1 {
	line-height: 25px;
	margin-bottom: 40px !important;
}

.right-section {
	border-left: 1px solid #cfcfcf;
	padding: 0 100px 0 40px;
	height: 100%;
}
.right-section h1, .left-section h1 {
	font-size: 18px;
	font-weight: bold;
	color: #003aa6;
	position: relative;
	margin: 50px 0 80px;
}
.right-section h1:before {
	content: '';
	width:100%;
	height: 5px;
	position: absolute;
	background-color: #1e99f7;
	left: 0;
	top: 40px;
}
.right-section h1 > span {
	color: #ccc4c4;
	font-size: 12px;
	float: right;
}
.right-section textarea {
	height: 250px;
	margin-top: 30px;
} 
.right-section p {
	color: #555559;
}
.right-section .checkbox-inline {
	margin: 30px 0;
}
.right-section .btn-lg {
	background-color: #1e99f7;
}
.navigation {
	width: 100%;
	float: left;
	margin: 30px 0 80px;
}
.navigation .right, .navigation .left {
	display: inline-block;
	background-color: #1e99f7;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	float: right;
	position: relative;
	margin-right: 30px;
}
.navigation .left {
	background-color: #1e99f7;
	margin-left: 30px;
	float: left;
}
.navigation .left > .box {
	position: absolute;
	width: 30px;
	height: 40px;
	left: -30px;
	top: 0;
	background-color: #1e99f7;
}
.navigation .right > .box {
	position: absolute;
	width: 30px;
	height: 40px;
	right: -30px;
	top: 0;
	background-color: #1e99f7;
}

.navigation .right > button, .navigation .left > button {
	background-color: transparent;
	outline: 0;
	border: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	float: left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #c4c4c4;
}



/*Small devices*/
@media only screen and (max-width: 992px) {
	.left-section, .right-section {
		padding: 0 40px;
	}
	.left-section {
		margin-bottom: 70px;
		height: auto;
	}
	.right-section {
		border-left: none;
	}
	
}